$maroon-flush:      #C2185B;
$amaranth:          #E91E63;
$chantilly:         #F8BBD0;
$white:             #FFFFFF;
$wild-strawberry:   #FF4081;
$mine-shaft:        #212121;
$boulder:           #757575;
$silver:            #BDBDBD;
$lochmara:          #0288D1;
$cerulean:          #03A9F4;
$french-pass:       #B3E5FC;