@import "colors";

$primary-background-color:          $white;
$secondary-background-color-dark:   $maroon-flush;
$secondary-background-color:        $amaranth;
$secondary-background-color-light:  $chantilly;
$accent-color:                      $wild-strawberry;
$primary-text-color:                $mine-shaft;
$secondary-text-color:              $white;
$tertiary-text-color:               $boulder;
$divider-color:                     $silver;
$secondary-color-dark:              $lochmara;
$secondary-color:                   $cerulean;
$secondary-color-light:             $french-pass;