<form>
    <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" placeholder="Jane" required>
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" placeholder="Doe" required>
    </div>

    <div>
        <label for="image">Image</label>
        <input type="button" name="image" value="Choose image">
    </div>

    <div>
        <label for="condition">Condition</label>
        <select name="condition">
            <option>Choose</option>
            <option *ngFor="let condition of conditions" [value]="condition.type">
                {{condition.text}}
            </option>
        </select>
    </div>

    <div>
        <label>Register</label>
        <button type="submit">&#10148;</button>
    </div>
</form>