<form>
    <div>
        <h3>First name</h3>
        <input type="text" name="firstname" placeholder="Jane" required>
    </div>
    <div>
        <h3>Last name</h3>
        <input type="text" name="lastname" placeholder="Doe" required>
    </div>

    <div>
        <h3>Image</h3>
        <input type="button" value="Choose image">
    </div>

    <div>
        <h3>Condition</h3>        
        <select>
            <option *ngFor="let condition of conditions" [value]="condition.type">
                {{condition.text}}
            </option>
        </select>
    </div>

    <div>
        <h3>Register</h3>   
        <input type="submit" value="&#10148;">
    </div>
</form>