@import '../../style/main';

:host {
    font-family: $secondary-font-family;
}

label {
    display: block;
    font-size: 2.5vw;  
    font-weight: 100;
    color: $accent-color;
    margin: 2.5rem 0 0 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-end;    
    justify-content: space-around;
    @include break-at(small-to-medium-screens) {
        justify-content: center;
    }

    div {
        width: 37%;        
        @include break-at(small-to-medium-screens) {
            width: 51%; 
        }  
        
        &:last-child {
            margin-left: 6vw;
            @include break-at(small-to-medium-screens) { 
                margin-left: 0;
            }
        }
    }
}

form:after {
    content: "";
    flex: auto;

    @include break-at(small-to-medium-screens) { 
        flex: 0;
    }
}

input {
    flex-wrap: wrap;
    
    border: none;
    border-bottom: 1px solid grey;

    font-family: $secondary-font-family;

    &:focus {
        outline: none;
    }    

    &[type=text] {
        width: 36vw;
        font-size: 4.5vw;
        color: $primary-font-color;

        &:focus {
            border-bottom: 3px solid black;
        }
    }
}

input[type=button] {
    margin: 1rem 0;
    padding: 0.8rem;

    border-bottom: none;
    border-radius: 2px;

    background: $secondary-background-color-light;    
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 2px 8px 0 $secondary-background-color;
    }

    &:active {
        box-shadow: 0 1px 3px 0 $secondary-background-color;
    }
}

// button[type=submit] {
button {
    margin: 1rem 0;    
    padding: 1.5rem 2rem;

    border-radius: 50%;    
    border-width: 1px;

    font-size: 2rem;
    background-color: $contrast-color-dark;
    color: $secondary-font-color;
    cursor: pointer;
    
    &:hover {
        background-color: $contrast-color;
        box-shadow: 0px 3px 7px 1px $secondary-background-color-light;
    }

    &:focus {
        outline: none;                
    }

    &:active {
        background-color: $contrast-color;
        box-shadow: 0 1px 3px 0 $secondary-background-color-light;
    }
}

select {    
    margin: 1rem 0;
    
    padding: 1rem;
    border-radius: 4px;
    border-width: 2px;
    font-size: 2rem;
}