@import './style/main';

%secondary-sections {
    color: $secondary-font-color;
    background-color: $secondary-background-color;
    padding: 1.5rem 0 1.5rem 1.5rem;
}

:host {
    font-family: $primary-font-family;
    color: $primary-font-color;
}

header {
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 5px 1px $secondary-background-color-light;
    
    @extend %secondary-sections;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font-family;
}

h1 {
    flex: 7;
    // @include break-at(wide-screens) { flex: 3; }  
    margin: 0 0 0 0;
    font-size: 5vw;
    animation: slide-in 1.2s ease-in;
}

nav {  
  &:hover {
    cursor: pointer;
    
    img {
      transform: rotate(45deg);
      box-shadow: inset 0 0 12px 2px white;      
      animation: spin45 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);      
    }
  }

  &:active {  
    img {
      width: 4.9vw;
      transform: rotate(90deg);     
      box-shadow: inset 0 0 8px 2px white;      
    }
  }
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.nav {    
    position: absolute;
    width: 20vw;    
    background: $secondary-background-color;    
    box-shadow: 0 4px 5px 1px $secondary-background-color-light;
    animation: slide-simple 0.15s linear;    

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      line-height: 3rem;
      text-align: center;
      box-shadow: inset -2px -1px 1px 0px $secondary-background-color-dark;

      &:hover {
        background: $secondary-background-color-light;
        cursor: pointer;
      }
    }    
}

.logo {
    flex: 3;

    img {
      width: 5vw;      
      border-radius: 50%;      
      animation: spin 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    span {
        display: inline-block;
        font-size: 7vw;
        font-weight: 900;
        animation: spin 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);      
    }
}

main {
    min-height: calc(100vh - 166px);
}

footer {
    overflow: hidden;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 1.5rem;
    
    @extend %secondary-sections;
}