<section class="title">
    <p>
        <b>{{patient.name}}</b>
        <span>@ {{consultation.consultationDate | date: 'd:j' }}</span>
    </p>
    <a (click)="toggleExpand()">
        <span *ngIf="!isExpanded">View details &raquo;</span>
        <span *ngIf="isExpanded">Close details &laquo;</span>
    </a>
</section>
        {{consultationDetails}}

<section    *ngIf="isExpanded" 
            class="details" 
            [ngClass]="{'show': isExpanded}">
    <div class="modal-content">
        <span (click)="toggleExpand()" class="close">&times;</span>

        <h4>{{patient.name}}</h4>
        <img [src]="patientImage" />
        <p>
            <b>Condition:</b> {{patient.condition}}
        </p>

        <p>
            <b>Registration date:</b> {{consultation.registrationDate | date: 'yMdjm' }}
        </p>

        <p>
            <b>Consultation date:</b> {{consultation.consultationDate | date: 'yMdjm' }}
        </p>

        <p>
            <b>Doctor:</b> {{doctor.name}}
            <span>{{doctor.roles}}</span>
            <img [src]="doctor.imageUrl" />
        </p>
<!--
        <p>
            <b>Room:</b> (consultation.roomId)
        </p>
        <p>
            <b>treatment machine name</b> (room.treatmentmachineId)
            <span>machine capability</span>
        </p>-->

    </div>

</section>

<section *ngIf="isExpanded">

</section>