$maroon-flush:      #C2185B;
$amaranth:          #E91E63;
$boulder:           #757575;
$brown:             brown;
$cerulean:          #03A9F4;
$chantilly:         #F8BBD0;
$denim:             #1976D2;
$fiord:             #455A64;
$frangipani:        #FFE0B2; 
$french-pass:       #B3E5FC;
$fruit-salad:       #4CAF50;
$geyser:            #CFD8DC;
$gold-drop:         #F57C00; 
$lochmara:          #0288D1;
$lynch:             #607D8B; 
$mine-shaft:        #212121;
$orange-peel:       #FF9800; 
$persian-red:       #D32F2F; 
$pomegranate:       #F44336; 
$silver:            #BDBDBD;
$white:             #FFFFFF;
$wild-strawberry:   #FF4081;






