@import "colors";
@import "fonts";

$primary-background-color:          $white;

$secondary-background-color-dark:   $gold-drop;
$secondary-background-color:        $orange-peel;
$secondary-background-color-light:  $frangipani;

$primary-font-family:               $roboto;
$secondary-font-family:             $open-sans;
$primary-font-color:                $mine-shaft;
$secondary-font-color:              $white;
$tertiary-font-color:               $boulder;
$font-color-disabled:               $brown;

$divider-color:                     $silver;
$accent-color:                      $lynch;

$contrast-color-dark:               $fiord;
$contrast-color:                    $lynch;
$contrast-color-light:              $geyser;

$alert:                             $persian-red;
$success:                           $fruit-salad;