@import "colors";
@import "fonts";

$primary-background-color:          $white;

$secondary-background-color-dark:   $lochmara;
$secondary-background-color:        $cerulean;
$secondary-background-color-light:  $french-pass;

$primary-font-family:               $roboto;
$secondary-font-family:             $open-sans;
$primary-font-color:                $mine-shaft;
$secondary-font-color:              $white;
$tertiary-font-color:               $boulder;
$font-color-disabled:               $fiord;

$divider-color:                     $silver;
$accent-color:                      $cerulean;
$accent-color:                      $fiord;

$contrast-color-dark:               $maroon-flush;
$contrast-color:                    $amaranth;
$contrast-color-light:              $chantilly;

$alert:                             $persian-red;
$success:                           $fruit-salad;