@import "colors";
@import "fonts";

$primary-background-color:          $white;
$secondary-background-color-dark:   $maroon-flush;
$secondary-background-color:        $amaranth;
$secondary-background-color-light:  $chantilly;

$primary-font-family:               $roboto;
$secondary-font-family:             $open-sans;
$primary-font-color:                $mine-shaft;
$secondary-font-color:              $white;
$tertiary-font-color:               $boulder;
$font-color-disabled:               $brown;

$divider-color:                     $silver;
$accent-color:                      $wild-strawberry;

$contrast-color-dark:               $lochmara;
$contrast-color:                    $cerulean;
$contrast-color-light:              $french-pass;